.card {
  padding: 1rem;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 16%;
  margin-right: 16%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
}
